#profileImage {
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 5px;
  max-width: 350px;
}

#profile {
  
  border-radius: 5px;
  background-color: white;
  margin-top: 25px !important;
  opacity: 0.9;
 
  margin: auto;
}
