/* body {
  background-image: url('./Images/homepage_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

#mainContainer {
  width: 100%;
  height: 100%;
  max-width: initial;

  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */

  padding: 0;
  margin: 0;
}
