body {
  background-image: url('./Images/homepage_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#mainContainer{
  width: 100%;
  max-width:initial;
  
}